@model LoanCalculator.Models.LoanCalculatorModel

@{
                /**/

                ViewBag.Title = "Summary";
}

@using (Html.BeginForm())
{
    <h2>Your personlised quote details</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoanAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumYears)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumYears)
            </dd>

            <dt>
                Interest
            </dt>

            <dd>
                @Model.calculateInterest()
            </dd>

            <dt>
                Monthly Payment
            </dt>

            <dd>
                @Model.getMonthlyPayment()
            </dd>

            <dt>
                Total Payment
            </dt>

            <dd>
                @Model.getTotalPayment()
            </dd>
        </dl>
    </div>
    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apply Now" class="btn btn-default" style="background-color:bisque" />
            </div>
        </div>
    <p class="redirect">
        @Html.ActionLink("Get New Quote", "Index")
    </p>

}
