@model LoanCalculator.Models.LoanCalculatorModel

@{
    /**/

    ViewBag.Title = "Summary";
}

<!DOCTYPE HTML>
<html>
    <head>
        <script>
            window.onload = function () {
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    backgroundColor: "#36BFC4",
                    title: {
                        text: "Principal to Interest Chart",
                        fontColor: "#fff",
                        fontFamily: "'Literata', serif"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: [
                            { y: @Model.Principal, label: "Pricipal", indexLabelFontColor: "#fff"},
                            { y: @Model.Interest, label: "Interest", indexLabelFontColor: "#fff"}
                        ]
                    }]
                });
                chart.render();
            }
        </script>
    </head>
</html>
@using (Html.BeginForm())
{
    <h2>Your personlised quote details</h2>
    <hr/>
    <div>
        <div class="loan-summary">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LoanAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoanAmount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NumYears)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumYears)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InterestRate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InterestRate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MonthlyPayment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MonthlyPayment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalPayment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TotalPayment)
                </dd>
            </dl>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Apply Now" class="btn btn-default"/>
                </div>
            </div>
        </div>
        <div id="chartContainer"></div>
        <script src="~/Scripts/canvasjs.min.js"></script>
    </div>

    <p class="redirect">
        @Html.ActionLink("Get New Quote", "Index")
    </p>
}

